<html>
	<head>heatmap rate</head>
	<body>
		<table border=3 bgcolor="#000000" cellspacing=3 cellpadding=0>
			<tr>
				<td>
					<table border=3 cellspacing=1 cellpadding=3>
						<tr bgcolor="#FFFFFF">
							<td></td>
							<% @package_list.each_value do |package_path| %>
                <td Valign="top"><%= package_path.gsub(/.{5}/) {|matched| matched + "</br>"} %></td>
							<% end %>
							<td></td>
						</tr>
						<% @table.each_with_index do |row, idx_row| %>
							<tr bgcolor="#FFFFFF">
								<td><%= @package_list[idx_row.to_s] %></td>
                <% row.each_with_index do |cell, idx_colmn| %>
                  <% if cell.rate != 0.0 %>
                    <td bgcolor=<%= cell.bgcolor %> title="<%= @package_list[idx_row.to_s] %> &#13;&#10; to &#13;&#10;<%= @package_list[idx_colmn.to_s]%>&#13;&#10;<%= cell.data_detail %>"><font color=<%= cell.font_color %>><%= cell.data %></font></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>
								<td><%= @package_list[idx_row.to_s] %></td>
							</tr>
						<% end %>
						<tr bgcolor="#FFFFFF">
							<td></td>
							<% @package_list.each_value do |package_path| %>
                <td Valign="top"><%= package_path.gsub(/.{5}/) {|matched| matched + "</br>"} %></td>
							<% end %>
							<td></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
